<%
  # Partial for displaying an interface for selecting an object the current
  # object belongs to.
  #
  # ==== Parameters
  #
  # association<DataMapper::Associations::BelongsToAssociation> - the association to display
  # model<DataMapper::Base> - the model which belongs to the object being selected
  name = association[:name]
  key = association[:child_key].first
  assoc_model = MerbAdmin::Models.new( association[:parent_model] )
  #foreign_key = model.class.scaf_foreign_key_name( association )
%>
<select name="object[<%= name %>]">
  <% selected_value = @object && @object.send( key ) %>

  <option value=""></option>
  <% for obj in assoc_model.find_all( :limit => 10 ) + [@object && @object.send(name)].flatten %>
    <option value="<%= obj.id %>"<%= ' selected="selected"' if obj.id == selected_value %>>
      <%= object_title(obj) %>
    </option>
  <% end %>
</select>