<%
  # Partial for displaying the items in a has_many relationship
  #
  # ==== Parameters
  #
  # association<DataMapper::Associations::HasManyAssociation>: the association that forms the
  #   basis for the relationship
  #
  # @object
  #
  # @model
%>

<dt>
  <%= association[:name].to_s.capitalize %>
  <%= (t = association[:near_rel]) ? "<small>through #{t.to_s.camel_case}</small>" : '' %>
</dt>
<dd>
  <ol>
    <% for obj in @object.send( association[:name] ) %>
      <li>
        <%= object_link(obj) %>
      </li>
    <% end %>
  </ol>
</dd>